/* External font */

@font-face {
    font-family: 'days_oneregular';
    src: url('../fonts/daysone-regular-webfont.woff2') format('woff2'),
         url('../fonts/daysone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'days_oneregular';
}

body{
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3rem;
}

.background-div{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(73, 73, 224);
    min-height: 500px;
    width: 100%;
    transform-origin: bottom left;
    transform: skewY(-10deg);
    z-index: -1;
}

.info-header{
    display: flex;
    align-items: center;
    position: relative;
}

.img-container{
    height: 450px;
    width: 400px;
    border-radius: 1%;
    box-shadow: 0 0 4px 1px rgb(83, 83, 83);
    overflow: hidden;
    z-index: 1;
}

.img-container img{

    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}

h1{
    position: absolute;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.653);
    font-size: 2.5rem;
    left: 90px;
    bottom: 10px;
    white-space: nowrap;
    z-index: 1;
}

h2{
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 900;
}

p{
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}

a {
    text-decoration: none;
}

.about-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    gap: 20px;
    padding: 2rem;
    flex: 1;
    color: black;
    background-color: white;
    box-shadow: 0 0 4px 1px rgb(83, 83, 83);
    border-radius: 0.2rem;
}

.about-text h2{
    margin-bottom: 1.5rem
}

.about-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.about-icons img {
    width: clamp(40px, 4vw, 50px);
}

.about-icons .ig-icon{
    width: clamp(45px, 4vw, 55px);
}

.projects h2{
    margin-bottom: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    min-height: 350px;
    flex: 1 30%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 4px 1px rgb(212, 212, 212);
}

.card-top{
    border-radius: 1rem 1rem 0 0;
    height: 70%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-links img{
    width: 25px;
}

.card-bottom{
    padding: 1rem;
}

.card-bottom h3{
    margin-bottom: 5px;
}

.card-bottom p {
    font-size: 1rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(73, 73, 224);
    padding: 5rem;
    color: white;
}

.contact-info{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info h2{
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.contact-info p{
    font-size: clamp(0.8rem, 2vw, 1.4rem);
}

.email{
    display: flex;
    align-items: center;
    gap: 5px;
}

.email span{
    font-size: clamp(0.8rem, 2vw, 1.4rem);
}

.email img{
    width: 25px;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-icons img {
    width: clamp(25px, 2vw, 45px);
}

.footer-icons .ig-icon{
    width: clamp(30px, 2.5vw, 55px);
}

.footer-img{
    width: clamp(250px, 40vw, 650px);
    border-radius: 1rem;
}

.about-icons a, .footer-icons a, .card{
    transition: transform 0.2s ease-in;
}

.about-icons a:hover, .footer-icons a:hover, .project-links a:hover, .card:hover{
    transform: scale(1.05);
}

@media (max-width: 1024px) and (min-width: 601px){

    .info-header{
        display: flow-root;
    }

    .about-card{
        display: block;
        width: 80vw;
        margin: 170px auto 0;
    }

    .img-container{
        float: left;
        margin-right: 1rem;
        height: 350px;
        max-width: 300px;
    }

    h1{
        top: 80px;
        left: 30%;
        font-size: 4rem;
    }

    .about-icons{
        display: none;
    }

    .card{
        flex-basis: 40%;
    }
}

@media (max-width: 600px) {

    .info-header{
        display: flex;
        flex-direction: column;
    }

    .about-card{
        width: max(300px, 100%);
        box-shadow: none;
    }

    .about-icons{
        justify-content: center;
    }

    .img-container{
        width: max(300px, 100%);
        border-radius: 1%;
    }

    h1{
        position: absolute;
        left: 30%;
        top: 400px;
        font-size: 2rem;
    }

    .about-icons{
        display: flex;
    }

    .card{
        flex-basis: 50%;
    }

    footer{
        flex-direction: column;
        padding-bottom: 0;
        padding: 3rem 3rem 0 3rem;
    }

    .footer-img{
        display: block;
        padding: 0;
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }
}